force-app/main/default/flows/Create_Onboarding_Steps.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>mdt_coll_to_Collection</name>
        <label>mdt coll to Collection</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>rec_OnboardingSteps.Onboarding_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_OnboardingSteps.Onboarding_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_OnboardingSteps.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_OnboardingSteps.Step_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_OnboardingSteps.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>assignedTo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_OnboardingSteps.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_OnboardingSteps.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_OnboardingSteps.Email_Notification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_OnboardingSteps.Email_Notification__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_OnboardingSteps.Onboarding__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>coll_createOnboardingSteps</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rec_OnboardingSteps</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_OnboardingSteps</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>assignedTo</name>
        <dataType>String</dataType>
        <expression>IF(  {!loop_OnboardingSteps.Assigned_To__c} = &apos;Opportunity Owner&apos;,{!$Record.Opportunity__r.OwnerId} ,
     IF({!loop_OnboardingSteps.Assigned_To__c} = &apos;Account Owner&apos;, {!$Record.Account__r.OwnerId}, 
       IF({!loop_OnboardingSteps.Assigned_To__c} = &apos;User A&apos;, {!loop_OnboardingSteps.Assigned_to_UserId__c}, 
          IF({!loop_OnboardingSteps.Assigned_To__c} = &apos;Candidate User&apos;, {!loop_OnboardingSteps.Assigned_to_UserId__c}, 
          IF({!loop_OnboardingSteps.Assigned_To__c} = &apos;Operations queue&apos;, {!loop_OnboardingSteps.Assigned_to_UserId__c}, 
          &apos;&apos; )   )  )  )  )</expression>
    </formulas>
    <interviewLabel>Create Onboarding Steps {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Onboarding Steps</label>
    <loops>
        <name>loop_OnboardingSteps</name>
        <label>loop_OnboardingSteps</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Onboarding_Steps_mdt</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>mdt_coll_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Onboarding</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Onboarding</name>
        <label>Create Onboarding</label>
        <locationX>176</locationX>
        <locationY>731</locationY>
        <inputReference>coll_createOnboardingSteps</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Onboarding_Steps_mdt</name>
        <label>Get Onboarding Steps mdt</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_OnboardingSteps</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Onboarding_Steps__mdt</object>
        <sortField>Sort_Order__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Onboarding_Steps_mdt</targetReference>
        </connector>
        <object>Onboarding__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>coll_createOnboardingSteps</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding_Step__c</objectType>
    </variables>
    <variables>
        <name>coll_OnboardingSteps</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding_Steps__mdt</objectType>
    </variables>
    <variables>
        <name>KickoffCallScheduledAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding_Step__c</objectType>
    </variables>
    <variables>
        <name>rec_OnboardingSteps</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding_Step__c</objectType>
    </variables>
</Flow>
