force-app/main/default/flows/Onboarding_Steps_Completion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>assingCompletedCount</name>
        <label>assingCompletedCount</label>
        <locationX>270</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>completedCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopOnboardingSteps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assingCompletedCount2</name>
        <label>assingCompletedCount2</label>
        <locationX>50</locationX>
        <locationY>1439</locationY>
        <assignmentItems>
            <assignToReference>completedCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>finalAssigncompleted</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>finalAssigncompleted</name>
        <label>finalAssigncompleted</label>
        <locationX>182</locationX>
        <locationY>1631</locationY>
        <assignmentItems>
            <assignToReference>completedCount</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>compareMdtCompletedCounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>mdt_coll_to_Collection</name>
        <label>mdt coll to Collection</label>
        <locationX>270</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>totalMetadata</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_OnboardingSteps</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>compareMdtCompletedCounts</name>
        <label>compareMdtCompletedCounts</label>
        <locationX>182</locationX>
        <locationY>1739</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>countsMatch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>totalMetadata</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>completedCount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateOnboardingtoCompleted</targetReference>
            </connector>
            <label>countsMatch</label>
        </rules>
    </decisions>
    <decisions>
        <name>compareMdtCompletedCounts1</name>
        <label>compareMdtCompletedCounts</label>
        <locationX>402</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>loopOnboardingSteps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>completedOnboardingStatus</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>loopOnboardingSteps.Onboarding_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assingCompletedCount</targetReference>
            </connector>
            <label>completedOnboardingStatus</label>
        </rules>
    </decisions>
    <decisions>
        <name>compareMdtCompletedCounts2</name>
        <label>compareMdtCompletedCounts2</label>
        <locationX>182</locationX>
        <locationY>1331</locationY>
        <defaultConnector>
            <targetReference>finalAssigncompleted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>completedOnboardingStatus2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Onboarding_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Onboarding_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assingCompletedCount2</targetReference>
            </connector>
            <label>completedOnboardingStatus2</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Onboarding Steps Completion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Onboarding Steps Completion</label>
    <loops>
        <name>loop_OnboardingSteps</name>
        <label>loop_OnboardingSteps</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Onboarding_Steps_mdt</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>mdt_coll_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>getOnboardingSteps</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopOnboardingSteps</name>
        <label>loopOnboardingSteps</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <collectionReference>getOnboardingSteps</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>compareMdtCompletedCounts1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>compareMdtCompletedCounts2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Onboarding_Steps_mdt</name>
        <label>Get Onboarding Steps mdt</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_OnboardingSteps</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Onboarding_Steps__mdt</object>
        <sortField>Sort_Order__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOnboardingSteps</name>
        <label>getOnboardingSteps</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopOnboardingSteps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Onboarding__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Onboarding__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Onboarding_Step__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateOnboardingtoCompleted</name>
        <label>updateOnboardingtoCompleted</label>
        <locationX>50</locationX>
        <locationY>1847</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Onboarding__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Onboarding_Steps_mdt</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Onboarding_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Onboarding_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Onboarding_Step__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>completedCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>totalMetadata</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
